

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: rgb(231, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}



.results{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style-type: none;
}


